apple2
apple2.exe
*.log
*.zip
*.state*
*.bak
*.woz
disks/
gmon.out
obj/
bugs/
reference/
src/gui/foooked/
ROMs/bin2c
ROMs/from-applewin/
res/
docs/
web/source/
ROMs/asimov/
misc/
changes-since-last-commit.txt
