apple2
apple2.exe
*.log
*.zip
*.state*
*.bak
*.woz
disks/
gmon.out
obj/
bugs/
reference/
src/gui/foooked/
ROMs/bin2c
ROMs/from-applewin/
ROMs/misc/
ROMs/asimov/
res/
docs/*.pdf
docs/*.jpg
docs/redbook/
docs/scsi/
docs/misc/
web/source/
misc/
changes-since-last-commit.txt
