/* CSS for Apple2 Web */

/* for testing */
/*div { border: 1px solid red; }*/

body, table
{
	background: #006060;
	color: #FFFFFF;
	text-align: center;	/* Crappy IE kludge */
	font: 14.0pt Arial, Verdana, sans-serif;
	padding-left: 10%;
	padding-right: 10%
}

/*#title img
{
	margin-top: 22px;
}*/

h1.title
{
	width: 263px;
	height: 79px;
	background: url("img/a2-logo.png");
	text-indent: -9999px;
	display: block;
	margin: 0 auto;
	margin-top: 45px;
}

.flt-l
{
	float: left;
	padding-right: 8px;
}

.flt-r
{
	float: right;
	padding-left: 8px;
}

.clr-l
{
	clear: left;
}

.clr-r
{
	clear: right;
}

figure
{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	font-style: italic;
	font-size: 90%;
}

img
{
	max-width: 100%;
	object-fit: contain;
}

img.border
{
	margin: 5px;
	border: 1px solid #CF5F00;
	border-radius: 4px;
	padding: 5px;
	background-color: #FFAF00;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.small33
{
	width: 33%;
	height: auto;
}

.small50
{
	width: 50%;
	height: auto;
}

#title
{
	font-size: 300%;
	font-weight: bold;
	color: #30FF30;
}

#news td
{
	padding-bottom: 1em;
}

#compatibility
{
	border: 1px solid white;
	border-spacing: 0;
	margin-bottom: 1em;
}

#compatibility td
{
	vertical-align: top;
	border: 1px solid white;
	font-size: 85%;
}

.date
{
	width: 7em;
	vertical-align: top;
/*	color: #FF6060;*/
	color: #FF6020;
}

sup
{
	font-size: 60%;
}

hr
{
	margin-bottom: 1.75em;
}

table, ul
{
	text-align: left;
}

p
{
	text-align: left;
	margin-top: 0;
	margin-bottom: 1em;
	line-height: 140%;
}

li
{
	line-height: 140%;
}

/*h1
{
	font-size: 300%;
	margin-top: 0;
	margin-bottom: 0;
}*/

h2
{
	font-size: 200%;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	color: #FFB000;
	font-style: italic;
}

h3
{
	font-size: 140%;
	margin-top: 1.2em;
/*	margin-bottom: 0;*/
}

tt
{
	font-size: 80%;
}

p#footer
{
	margin-top: 2.0em;
	font-size: 75%;
	font-style: italic;
}

a:link    { color: #0090FF; text-decoration: underline; }
a:visited { color: #FF6F00; text-decoration: underline; }
a:hover   { color: #20B0FF; text-decoration: none; }
a:active  { color: #FFFFFF; text-decoration: underline; }

